numpy<2
torch
torchvision
ultralytics
opencv-python
flask
pillow
deep-translator
gtts
easyocr
flask-sqlalchemy
textblob
requests
scikit-image
python-bidi
pyyaml
pyclipper
Shapely
scipy
tifffile
greenlet
mpmath
sympy
networkx
fsspec
ninja
tqdm
werkzeug
click
jinja2
itsdangerous
blinker
charset-normalizer
certifi
idna
urllib3
markupSafe
joblib
colorama
regex
SQLAlchemy
typing-extensions
python-dateutil
six
pyparsing
kiwisolver
fonttools
cycler
contourpy
matplotlib
pip
setuptools
wheel
psutil
packaging
filelock
MarkupSafe
